body {
	background-color: #f2e6ff;
}
h1.Index {
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 50px;
	color: black;
	text-align: center;
}
img {
	display: block;
	margin: auto;
}
p.r_and_b {
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 20px;
	color: black;
	text-align: center;

}
body.Resume{
	padding-left: 40px;
}
h1{
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 50px;
	color: black;
}
body.Bio{
	padding-left: 40px;
}
p.Bio{
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 20px;
	color: black;
}

