/*Index.html*/
body {
	background-color: #f2e6ff;
}
h1.Index {
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 50px;
	color: black;
	text-align: center;
}
img {
	display: block;
	margin: auto;
}
p.r_and_b {
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 20px;
	color: black;
	text-align: center;
}
/*Bio and Resume*/
h1{
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 50px;
	color: black;
}
/*Resume*/
body.Resume{
	padding-left: 40px;
}
h3.Resume{
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 30px;
	text-decoration: underline;
}
h3.School_header{
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 30px;
}
ul.Resume{
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 20px;
}
/*Bio*/
body.Bio{
	padding-left: 40px;
}
p.Bio{
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 20px;
	color: black;
}

